
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      // This is a hardcoded UID for the super admin.
      return request.auth.uid == 'GEGZNzOWg6bnU53iwJLzL5LaXwR2';
    }

    match /users/{userId} {
      allow get, update: if request.auth.uid == userId || isAdmin();
      allow create: if request.auth.uid == userId;
      allow list: if isAdmin();
    }

    match /mining_machines/{machineId} {
      allow get: if request.auth != null;
      allow list: if request.auth != null;
      allow create, update, delete: if isAdmin();
    }

    match /users/{userId}/rentals/{rentalId} {
      allow read, write: if request.auth.uid == userId || isAdmin();
    }

    match /deposit_transactions/{depositId} {
      allow get: if request.auth.uid == resource.data.userAccountId || isAdmin();
      allow list: if isAdmin();
      allow create: if request.auth.uid == request.resource.data.userAccountId;
      allow update: if isAdmin();
    }
    
    match /withdrawal_transactions/{withdrawalId} {
      allow get: if request.auth.uid == resource.data.userAccountId || isAdmin();
      allow list: if isAdmin();
      allow create: if request.auth.uid == request.resource.data.userAccountId;
      allow update: if isAdmin();
    }
    
    match /redeem_codes/{code} {
      allow get: if request.auth != null;
      allow create: if isAdmin();
      allow update: if request.auth != null && resource.data.used == false && request.resource.data.used == true;
    }

    match /redeem_codes/{code} {
        allow list: if isAdmin();
    }

    match /daily_limits/{limitId} {
        allow get, list: if request.auth != null;
        allow write: if request.auth != null; // Should be more secure in production
    }
  }
}
